@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
// font-family: "Unbounded", sans-serif;


@font-face {
    font-family: "compact";
    src: url("../fonts/SFCompactDisplay-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "univermag";
    src: url("../fonts/Univermag-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "ruberoid";
    src: url("../fonts/Ruberoid-Regular.ttf") format("opentype");
    font-weight: 400;
}
