footer.footer {
    background: #000;
    padding: 64px 0;

    p {
        color: #fff;
        font-size: 58px;
        font-family: "univermag";
        line-height: 100%;
        margin: 0;
    }

    ul {
        display: inline-block;

        li {
            display: inline-block;
            vertical-align: middle;
            margin-right: 12px;

            &:last-child {
                margin-right: 0;
            }

            a {
                img {
                    width: 48px;
                    transition: 0.3s;
                }

                &:hover {
                    img {
                        filter: drop-shadow(2px 4px 6px #84F7A0);
                    }
                }
            }
        }
    }
}

.footertitle {
    max-width: 100%;
}

footer.footer ul {
    position: relative;
    z-index: 6;
}

@media(max-width:1199.8px) {
    footer.footer {
        padding: 50px 0;

        p {
            font-size: 46px;
        }
    }

    .footertitle {
        max-width: 450px;
    }
}

@media(max-width:991.8px) {
    footer.footer p {
        margin-bottom: 20px;
    }

    .footertitle {
        margin-bottom: 30px;
    }
}

@media(max-width:575.8px) {
    footer.footer {
        p {
            font-size: 36px;
        }
    }

    .footertitle {
        max-width: 100%;
    }
}