.herosection {
    min-height: calc(100vh - 87px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: #000;
}

.herosection__info {
    position: relative;
    z-index: 2;

    h1 {
        color: #F5F5F5;
        font-family: "univermag";
        font-size: 58px;
        font-weight: 400;
        line-height: 90%;
        margin-bottom: 40px;

        span {
            color: var(--green);
        }
    }

    p {
        color: var(--light-grey);
        margin-bottom: 46px;
        font-size: 14px;
        max-width: 486px;
        line-height: 135%;
    }

    .greenbtn {
        min-width: 174px;
        text-align: center;
    }
}

.herosection__video {

    video {
        width: 220%;
        transform: translateX(-26%);
    }
}

.about {
    padding: 105px 0 110px;
    position: relative;
    overflow: hidden;

    img.aboutbg {
        mix-blend-mode: soft-light;
        position: absolute;
        left: 0;
        top: 0;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        height: 8px;
        width: 100%;
        background: url('../img/lines.png') repeat-x;
    }

    &::after {
        top: 0;
    }

    &::before {
        bottom: 0;
    }

    h2 {
        margin-bottom: 62px;
    }

    .row {
        margin-left: -18px;
        margin-right: -18px;

        .col-xl-4 {
            padding-left: 18px;
            padding-right: 18px;
        }
    }
}

.aboutbox {
    position: relative;
    background: rgba(#84F7A0, 0.02);
    padding: 16px 24px;
    min-height: 145px;
    display: block;
    cursor: pointer;

    p {
        margin: 0;
        font-size: 14px;
        color: var(--light-grey);
    }

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 1px solid rgb(132, 247, 160);
        border-left: 1px solid rgb(132, 247, 160);
        left: -5px;
        top: -5px;
        transition: 0.3s;
        animation-timing-function: ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid rgb(132, 247, 160);
        border-left: 1px solid rgb(132, 247, 160);
        bottom: -5px;
        left: -5px;
        transition: 0.3s;
        animation-timing-function: ease-in-out;
    }

    p {
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-top: 1px solid rgb(132, 247, 160);
            border-right: 1px solid rgb(132, 247, 160);
            right: -5px;
            top: -5px;
            transition: 0.3s;
        }

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid rgb(132, 247, 160);
            border-right: 1px solid rgb(132, 247, 160);
            bottom: -5px;
            right: -5px;
            transition: 0.3s;
        }
    }

    &:hover {
        background: rgba(#84F7A0, 0.04);

        &::after {
            left: 0;
            top: 0;
        }

        &::before {
            bottom: 0;
            left: 0;
        }

        p {
            &::after {
                right: 0;
                top: 0;
            }

            &::before {
                bottom: 0;
                right: 0;
            }
        }
    }
}

.about__videosect {
    margin-top: 125px;
    position: relative;
    z-index: 2;

    h3,
    h2 {
        color: #fff;
        line-height: 100%;
        margin-bottom: 50px;
        text-align: center;
    }

    .plyr__control.plyr__control--overlaid {
        background: transparent;
        width: 48px;
        height: 48px;
        background: url('../img/play.png') no-repeat center / 100%;


        svg {
            display: none;
        }
    }

    .plyr.plyr--stopped .plyr__controls {
        display: none
    }

    .videowrap {
        position: relative;
        overflow: hidden;

        .elvid {
            // content: "";
            display: inline-block;
            // width: 57px;
            // height: 1px;
            // background: #84F7A0;
            // z-index: 5;
            // position: absolute;
            // right: -16px;
            // top: 0px;
            // transform-origin: 0 0;
            // transform: rotate(45deg);

            width: 57px;
            height: 57px;
            border-left: 1px solid rgba(132, 247, 160, 0.3);
            background: #111011;
            position: absolute;
            right: -29px;
            top: -28px;
            z-index: 5;
            overflow: hidden;
            transform: rotate(-45deg);

            img {
                mix-blend-mode: soft-light;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .plyr {
        // clip-path: polygon(5% 0, 100% 0%, 100% 100%, 100% 100%, 0 100%, 0% 10%);
        // clip-path: polygon(5% 0, 101% 0%, 101% 101%, 101% 101%, 0 101%, -1% 10%);
        // clip-path: polygon(-1% 0, 96% 0, 101% 9%, 101% 101%, 0 101%, 0% 101%);
        border: 1px solid rgba(132, 247, 160, 0.3);
    }




}

.about__bgel1 {
    position: absolute;
    right: 70px;
    top: 35px;
}

.about__bgel2 {
    position: absolute;
    left: 50px;
    top: 170px;
}

.means {
    background: #000201;
    padding: 100px 0;

    h3,
    h2 {
        margin-bottom: 24px;
        line-height: 1;
    }

    p {
        max-width: 486px;
        color: var(--light-grey);
        margin-bottom: 56px;
        font-size: 14px;
    }
}

.meanbox {
    height: 247px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: 0.3s;

    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(#D9D9D9, 0.05);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        opacity: 0;
        transition: 0.3s;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        position: absolute;
        z-index: 1;
        transition: 0.3s;
    }

    span {
        position: relative;
        display: inline-block;
        z-index: 2;
        font-family: "Unbounded", sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        padding: 0 14px;
        text-transform: uppercase;

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: -3px;
            width: 12px;
            height: 26px;
        }

        &::after {
            right: 0;
            background: url('../img/textel-right.svg') no-repeat center / 100%;
        }

        &::before {
            left: 0;
            background: url('../img/textel-left.svg') no-repeat center / 100%;
        }
    }

    &:hover {
        img {
            filter: blur(4px);
        }

        &::after {
            opacity: 1;
        }
    }
}

.commander {
    padding: 100px 0;
    background: #000201;
}

.commander__info {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-top: 1px solid rgb(132, 247, 160);
        border-left: 1px solid rgb(132, 247, 160);
        left: 0;
        top: 0;
        transition: 0.3s;
        animation-timing-function: ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-bottom: 1px solid rgb(132, 247, 160);
        border-left: 1px solid rgb(132, 247, 160);
        bottom: 0;
        left: 0;
        transition: 0.3s;
        animation-timing-function: ease-in-out;
    }

    .commander__infoels {
        position: relative;
        z-index: 2;
        padding: 60px 40px;
        border: 1px solid rgba(#84F7A0, 0.3);

        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-top: 1px solid rgb(132, 247, 160);
            border-right: 1px solid rgb(132, 247, 160);
            right: -1px;
            top: -1px;
            transition: 0.3s;
        }

        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 6px;
            height: 6px;
            border-bottom: 1px solid rgb(132, 247, 160);
            border-right: 1px solid rgb(132, 247, 160);
            bottom: 0;
            right: 0;
            transition: 0.3s;
        }
    }

    .subtitle {
        color: #42795C;
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 8px;
        font-family: "Unbounded", sans-serif;
        max-width: 100%;
    }

    h3,
    .titlename {
        color: #fff;
        margin-bottom: 24px;
    }

    .titlename {
        font-size: 40px;
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        line-height: 120%;
        text-transform: uppercase;
    }

    p {
        max-width: 565px;
        color: var(--light-grey);
        font-size: 14px;
        margin-bottom: 29px;
    }

    .greenbtn {
        max-width: 174px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .commanderimg {
        position: absolute;
        right: -75px;
        top: 0;
        height: 100%;
        z-index: 1;
    }

}

.ideologic {
    padding: 100px 0 70px;
    background: #000201;

    h3 {
        margin-bottom: 24px;
        line-height: 120%;
    }

    p {
        max-width: 486px;
        color: var(--light-grey);
        font-size: 14px;
        margin-bottom: 56px;

        span {
            color: #42795C;
        }
    }

    .subtitle {
        font-size: 14px;
        font-family: "Unbounded", sans-serif;
        font-weight: 300;
        color: #fff;
        margin-bottom: 24px;
    }
}

.ideologic__boxwrap {
    position: relative;
    overflow: hidden;
}

.ideologic__box {
    height: 195px;
    border: 1px solid rgba(#FFF6F1, 0.2);
    background: rgba(#C4C4C4, 0.05);
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    cursor: pointer;

    .imgwrap {
        margin-bottom: 5px;

        img {
            height: 80px;
            margin-bottom: 12px;
        }
    }

    p.title {
        margin-bottom: 0;
        font-size: 20px;
        line-height: 130%;
        color: #fff;
        font-family: "Unbounded", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
    }

    p {
        color: var(--dark-grey);
        margin: 0;
        font-size: 14px;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background: #000201;
        position: absolute;
        right: -6px;
        top: -6px;
        border-left: 1px solid rgba(#FFF6F1, 0.2);
        transform: rotate(-45deg);
    }

    .box-wrapper {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 22px 16px 16px 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottbox {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: #0a0c0b;
        padding: 16px;
        top: 100%;
        transition: 0.5s;

        p {
            font-size: 11.5px;
            color: var(--dark-grey);
            margin: 0;
            line-height: 140%;
        }

        p.title {
            margin-bottom: 8px;
            font-family: "Unbounded", sans-serif;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: 130%;
            text-transform: none;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {}

        &::-webkit-scrollbar-thumb {
            background-color: #42795C;
            border-radius: 10px;
        }
    }

    &:hover {
        .bottbox {
            top: 0;
        }
    }
}


.formsection {
    padding: 100px 0;
    position: relative;
    // overflow: hidden;

    img.aboutbg {
        mix-blend-mode: soft-light;
        position: absolute;
        left: 0;
        top: 0;
    }

    .formblock {
        padding: 50px 40px;
        background: rgba(#84F7A0, 0.03);
        border: 1px solid rgba(#84F7A0, 0.3);

        .elvid {
            display: inline-block;
            width: 57px;
            height: 57px;
            border-left: 1px solid rgba(132, 247, 160, 0.3);
            background: #111011;
            position: absolute;
            right: -16px;
            top: -28px;
            z-index: 5;
            overflow: hidden;
            transform: rotate(-45deg);

            img {
                mix-blend-mode: soft-light;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    h3 {
        margin-bottom: 5px;
    }

    p {
        color: var(--light-grey);
        font-size: 14px;
        padding-right: 30px;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    form {
        // padding-left: 40px;
    }

    .inputfield {
        margin-bottom: 32px;

        label {
            margin-bottom: 5px;
            font-family: "Unbounded", sans-serif;
            font-size: 14px;
            color: var(--dark-grey);
        }

        input {
            border: none;
            border-bottom: 1px solid rgba(#F1F1F1, 0.4);
            height: 36px;
            background: transparent;
            width: 100%;
            outline: none;
            color: rgba(245, 245, 245);
            font-family: "Unbounded", sans-serif;
            font-size: 14px;
            transition: 0.3s;

            &:focus {
                border-color: #84F7A0;
            }
        }

        textarea {
            border: none;
            border-bottom: 1px solid rgba(#F1F1F1, 0.4);
            height: 36px;
            background: transparent;
            width: 100%;
            outline: none;
            color: rgba(245, 245, 245);
            font-family: "Unbounded", sans-serif;
            font-size: 14px;
            transition: 0.3s;
            resize: none;

            &:focus {
                border-color: #84F7A0;
            }

            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {}

            &::-webkit-scrollbar-thumb {
                background-color: #42795C;
                border-radius: 10px;
            }
        }
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        color: rgba(0, 0, 0, 0);
        opacity: 1;
        display: block;
        background: url('../img/calendar.png') no-repeat;
        width: 20px;
        height: 20px;
        border-width: thin;
        margin-top: 5px;
    }

    .radiowrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 10px;

    }

    .radiobox {
        width: 100%;
        max-width: 90px;
        flex: 0 0 90px;
        padding-right: 10px;

        input {
            display: none;

            &:checked+label {
                &::after {
                    background: url('../img/check-active.png') no-repeat center / 100%;
                }
            }
        }

        label {
            position: relative;
            padding-left: 28px;
            margin: 0;
            display: block;
            color: #fff;
            font-size: 14px;
            font-family: "Unbounded", sans-serif;
            cursor: pointer;

            &::after {
                content: '';
                display: inline-block;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: url('../img/check.png') no-repeat center / 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    .greenbtn {
        border: none;
        width: 100%;
        max-width: 174px;
        font-size: 16px;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}

.commanderimgmob {
    display: none;
}

html {
    scroll-behavior: inherit !important;
}

.titleimg {
    display: inline-block;
    margin-bottom: 40px;
    max-width: 100%;
}

.herosection__info {
    .subtitle {
        font-family: "Unbounded", sans-serif;
        font-size: 20px;
        font-weight: 300;
        max-width: 100%;
        margin-bottom: 40px;

        span {
            color: #42795C;
        }
    }

    .greenbtn {
        min-height: 52px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

.about h2 {
    position: relative;
    z-index: 2;
}

.meanbox {
    cursor: pointer;
}

.imitselectwrapper {
    position: relative;
}

.imitselect {
    height: 40px;
    border-radius: 8px;
    padding: 4px 40px 4px 14px;
    color: var(--dark-grey);
    font-size: 14px;
    font-weight: 300;
    font-family: "Unbounded", sans-serif;
    border: 1px solid var(--dark-grey);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 11px;

    p {
        margin: 0;
    }

    .choosetext {}

    .count {
        display: none;
    }

    &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 14px;
        top: 10px;
        background: url('../img/selectarrow.svg') no-repeat center / 100%;
    }
}

.inputfield .imitselect__dd {
    border: 1px solid var(--dark-grey);
    padding: 14px;
    border-radius: 8px;
    position: absolute;
    top: 50px;
    background: #171918;
    z-index: 2;
    width: 100%;
    display: none;

    input {
        display: none;

        &:checked+label {
            &::after {
                border-color: var(--green);
                background: url('../img/check-ic.svg') no-repeat center / 10px;
            }
        }
    }

    label {
        margin: 0;
        display: block;
        font-size: 12px;
        font-weight: 300;
        color: var(--light-grey);
        font-family: "Unbounded", sans-serif;
        padding-left: 28px;
        position: relative;

        &::after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border: 1px solid var(--dark-grey);
            border-radius: 5px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    li {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.hidden {
    display: none;
}

.otherinp {
    display: none;

    textarea {
        height: 50px !important;
    }
}

.formsection p i {
    font-style: normal;
}

.likeh2 {
    margin-bottom: 62px;

    h1 {
        display: inline;
    }
}

.commander,
.ideologic {
    h2.subtitle {
        text-transform: none;
        font-weight: 400;
    }

    .likeh2 {
        font-size: 40px;
        max-width: 100%;
        color: #42795C;
    }
}





@media(max-width:1399.8px) {
    .commander__info .title {
        font-size: 52px;
    }

    .ideologic__box {
        height: 210px;
    }
}

@media(max-width:1199.8px) {

    .ideologic .likeh2,
    .formsection h2 {
        font-size: 36px;
    }

    .commander__info .titlename {
        font-size: 36px;
    }

    .about h2,
    .likeh2 {
        font-size: 36px;
    }

    .likeh2 {
        margin-bottom: 40px;

        h1 {
            font-size: 36px;
        }
    }

    .herosection__info h1 {
        font-size: 52px;
    }

    .commander__info .title {
        font-size: 46px;
    }

    .aboutbox {
        height: 100%;
    }

    .about__videosect {
        margin-top: 100px;
    }

    .herosection__info h1 {
        margin-bottom: 30px;
    }

    .herosection__info p,
    .about h3 {
        margin-bottom: 40px;
    }

    .commander__info p {
        max-width: 500px;
    }

    .about {
        padding: 100px 0;
    }

    .meanbox {
        height: 220px;
    }

    .commander__info .commanderimg {
        right: -125px;
    }

    .formsection form {
        padding-left: 0;
        margin-top: 30px;
    }

    .titleimg {
        margin-bottom: 30px;
    }

    .herosection__info .subtitle {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .about h2 {
        margin-bottom: 40px;
    }

    .ideologic__box p.title {
        font-size: 18px;
    }

}

@media(max-width:991.8px) {
    .herosection {
        padding: 60px 0 20px;
    }

    .herosection__video video {
        width: 140%;
        transform: translateX(-13%);
        margin-top: -40px;
    }

    .aboutbox {
        margin-bottom: 20px;
        height: auto;
        min-height: 120px;
    }

    .aboutbox p {
        font-size: 16px;
    }

    .meanbox {
        margin-bottom: 30px;
    }

    .means {
        padding-bottom: 20px;
    }

    .commander__info .commanderimg {
        display: none;
    }

    .commanderimgmob {
        display: block;
        width: 100%;
    }

    .commander__info .commander__infoels {
        padding: 0;
    }

    .wrapblock {
        padding: 40px;
    }

    .formsection .inputfield label {
        font-size: 13px;
    }

    .formblock {
        .row {
            &>div {
                @for $i from 1 through 13 {
                    &:nth-child(#{$i}) {
                        order: $i;
                    }
                }

                &:nth-child(14) {
                    order: 15;
                }

                &:nth-child(15) {
                    order: 14;
                }

                @for $i from 16 through 30 {
                    &:nth-child(#{$i}) {
                        order: $i;
                    }
                }
            }
        }
    }

    .formsection .greenbtn {
        margin-bottom: 20px;
    }










    .commander {
        padding-bottom: 20px;
    }


}

@media(max-width:575.8px) {

    .ideologic .likeh2,
    .formsection h2 {
        font-size: 24px;
    }

    .commander__info .titlename {
        margin-bottom: 24px;
        font-size: 24px;
    }

    .likeh2 {
        font-size: 24px;
        margin-bottom: 30px;

        h1 {
            font-size: 24px;
        }
    }


    .herosection__info h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .herosection__info p {
        margin-bottom: 30px;
    }

    .herosection__video video {
        margin: 0;
    }

    .about .row {
        margin-left: -12px;
        margin-right: -12px;

        .col-lg-4 {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .about__videosect {
        margin-top: 40px;
    }

    .about__bgel1,
    .about__bgel2 {
        display: none;
    }

    .means {
        padding-top: 60px;
    }

    .means p {
        margin-bottom: 30px;
    }

    .commander {
        padding-top: 60px;
    }

    .wrapblock {
        padding: 20px;
    }

    .commander__info .title {
        font-size: 36px;
    }

    .commander__info .subtitle {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .commander__info .greenbtn {
        max-width: 100%;
    }

    .formsection .formblock {
        padding: 20px;
    }

    .about h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .aboutbox p {
        font-size: 14px;
    }

    .commander__info .subtitle {
        font-size: 16px;
    }

    .ideologic__box {
        margin-bottom: 15px;
    }


    .about h3,
    .herosection__info p {
        margin-bottom: 30px;
    }

    .about,
    .ideologic,
    .formsection {
        padding: 60px 0;
    }

    .greenbtn.btnel {
        transform: none !important;
    }

}

.modalwrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(17, 16, 17, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: 0.3s;

    &.active {
        opacity: 1;
        z-index: 16;
        visibility: visible;
    }
}

.tybox {
    width: 385px;
    padding: 24px 24px 30px 24px;
    border: 1px solid #84F7A0;
    position: relative;




    &::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        border-left: 1px solid #84F7A0;
        background: #111011;
        position: absolute;
        right: -15px;
        top: -15px;
        z-index: 5;
        overflow: hidden;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    p {
        margin-bottom: 22px;
        color: rgb(245, 245, 245);
        font-size: 14px;
        font-family: "ruberoid";
        line-height: 135%;
    }

    .title {
        color: #42795C;
        margin-bottom: 16px;
        font-weight: 500;
        padding-right: 30px;
        font-size: 14px;
        font-family: "Unbounded", sans-serif;
        line-height: 140%;
    }

    .greenbtn {
        max-width: 100%;
        width: 100%;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 52px;
    }

    .closety {
        position: absolute;
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        top: 21px;
        right: 24px;
    }
}

@media(max-width:575.8px) {
    .tybox {
        width: 360px;
    }
}

@media(max-width:360.8px) {
    .tybox {
        width: 300px;
    }

    .tybox {
        padding: 15px;
    }
}

// font-family: "univermag";


// 17.08
.imitselect__dd {
    height: 440px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #42795C;
        border-radius: 10px;
    }
}

@media(max-width:575.8px) {
    .imitselect__dd {
        height: 300px;
    }
}

// form
.formblock {
    h2 {
        margin-bottom: 16px;
    }

    // formtitlearrow
}

.formsection {
    margin-bottom: 0;

    .select2-container {
        width: 100% !important;
    }

    .select2-container--default .select2-selection--single {
        border-radius: 0;
        background: transparent;
        border: none;
        border-bottom: 1px solid rgba(241, 241, 241, 0.4);
        height: 36px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 36px;
        padding-left: 0;
        color: #fff;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: rgba(135, 135, 135, 1);
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        background: url(../img/selectarrow.svg) no-repeat center / 100%;
        height: 36px;

        b {
            display: none;
        }
    }


    .nextbtn {
        text-align: right;
        margin-top: 15px;

        .greenbtn {
            display: inline-flex;
        }
    }
}

.select2-dropdown {
    background-color: #141715;
    border: 1px solid rgba(241, 241, 241, 0.4);

}

.select2-results__option--selectable {
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #fff;
    color: #141715;
}

.select2-container--default .select2-results__option--selected {
    background-color: #2e2e2e;
}

.select2-container--default .select2-results>.select2-results__options {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {}

    &::-webkit-scrollbar-thumb {
        background-color: #42795C;
        border-radius: 10px;
    }
}

.formstep {
    margin-bottom: 32px;

    .title {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        padding-left: 32px;
        font-family: "Unbounded", sans-serif;
        margin-bottom: 32px;

        &::after {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            background-color: #42795C;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../img/formtitlearrow.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 12px;
            transition: 0.5s;
        }

        &.active {
            &::after {
                transform: rotate(-180deg);
            }
        }
    }
}

.aboutbg {
    min-height: 100%;
    min-width: 100%;
}

.formstep {
    &.hide {
        .formstep__wrapper {
            display: none;
        }
    }
}

.formsection {
    overflow: hidden;
}

@media(max-width:575.8px) {

    .formstep .title {
        font-size: 14px;
    }

    .formsection .inputfield {
        margin-bottom: 30px;
    }

}

.faqsection {
    padding: 100px 0;
    background: #131113;
}

.faqsection__left {
    .title {
        color: #fff;
        font-size: 32px;
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 30px;
        line-height: 120%;
    }

    .botttext{ 
        font-size: 14px;
        color: #fff;
        color: rgba(255, 255, 255, 1);

        a {
            text-decoration: underline;
            color: #84F7A0;
            text-underline-offset: 2px;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.faqhead {
    min-height: 72px;
    padding: 10px 50px 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: 0.3;

    p {
        margin: 0;
        color: rgba(196, 196, 196, 1);
        font-weight: 500;
        line-height: 130%;
        font-size: 14px;
        font-family: "Unbounded", sans-serif;
        transition: 0.3s;
    }

    button {
        border: none;
        padding: 0;
        background: transparent;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 20px;


        img {
            max-width: 100%;
            transition: 0.5s;
        }
    }

    &.open {
        p {
            color: #fff;
        }

        button {
            img {
                transform: rotate(-180deg);
            }
        }
    }

    &:hover {
        background: #0E1A11;

        button {
            background: rgba(132, 247, 160, 0.3);
        }

        .btnel:before {
            bottom: 0;
            left: 0;
        }

        .btnel span:before {
            bottom: 0;
            right: 0;
        }

        .btnel span:after {
            right: 0;
            top: 0;
        }

        .btnel:after {
            left: 0;
            top: 0;
        }
    }
}

.faqrow {
    background: #0A0A0A;
    border: 1px solid #676462;
    margin-bottom: 10px;
    position: relative;
    transition: 0.3s;

    &::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #131113;
        position: absolute;
        right: -8px;
        top: -8px;
        transform: rotate(45deg);
        border-bottom: 1px solid #676462;
    }

    &:hover {
        // background: #0E1A11;
    }
}

.faqbody {
    padding: 20px;
    color: #fff;
    font-size: 16px;
    display: none;

    
}

.faqsection.faqpage {
    h3 {
        color: #fff;
        font-size: 24px;
        margin-bottom: 18px;
        margin-top: 48px;

        &:first-child {
            margin-top: 0;
        }
    }

    .faqsection__left {
        padding-right: 30px;
    }
}

.postnav {
    ul {
        margin-bottom: 30px;
        margin-top: 40px;

        li {
            margin-bottom: 8px;

            a {
                color: rgba(132, 247, 160, 1);
                font-size: 14px;
                font-weight: 500;
                font-family: "Unbounded", sans-serif;
                position: relative;
                padding-left: 33px;
                display: block;
                opacity: 0.7;
                transition: 0.3s;

                &:hover {
                    opacity: 1;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url('../img/faqarr2.svg') no-repeat center / 12px;
                    position: absolute;
                    left: 0;
                    top: 1px;
                }
            }
        }
    }
}

@media(max-width:1199.8px) {
    .faqsection__left {
        margin-bottom: 30px;
    }
}

@media(max-width:991.8px) {

    .faqsection.faqpage {
        .faqsection__right {
            margin-top: 30px;
        }
    }


}

@media(max-width:575.8px) {
    .faqsection {
        padding: 60px 0;
    }

    .faqsection__left .title {
        font-size: 24px;
    }

    .faqbody {
        p {
            margin-bottom: 0;
            font-size: 14px;
        }
    }

    .faqsection.faqpage .faqsection__left {
        padding-right: 0;
    }

    .faqsection.faqpage h3 {
        font-size: 20px;
    }

    .faqhead {
        padding: 10px 45px 10px 10px;
    }

    .faqhead button {
        right: 15px;
    }
}